
body {
  padding-top: 3.5rem;
  font-family: 'Montserrat', sans-serif;
  background: rgb(116, 61, 19);
}

h1 {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

nav {
  font-family: 'Montserrat', sans-serif;
}

.full-img {
  position: relative;
  display: block;
  width: 50%;
  margin: 0 auto;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,0);
}

.dark-button,
.light-button {
  border: 0;
  background: rgba(150,150,150,0.6);
  text-shadow: 1px 1px 1px white;
  border: 1px solid #999;
  position: absolute;
  cursor: pointer;
  top: 2px;
  left: 2px;
}

.thumb-bar img {
  display: block;
  width: 20%;
  float: left;
  cursor: pointer;
}

.col-md-8 {
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
}

.header {
  background: rgb(249, 222, 229);
  color: #fff;
}

.btn-outline-success {
  border-color: rgb(249, 222, 229);
  color:  rgb(249, 222, 229);
}

.btn-outline-success:hover {
  border-color: rgb(249, 222, 229);
  background:  rgb(249, 222, 229);
  color: rgb(116, 61, 19);

}

.container {
  color: #fff;
  text-align: center;
}

.thumb-bar img {
  display: block;
  width: 20%;
  float: left;
  cursor: pointer;
}

.thumb-bar {
  width: 50%;
  margin: 0 auto;
}
